@{	var userName = Context.Session.GetString("username") ?? "Admin"; 
}

<!DOCTYPE html>
<html lang="en">

<head>
	<title>Flat Able - Premium Admin Template by Phoenixcoded</title>
	<!-- HTML5 Shim and Respond.js IE11 support of HTML5 elements and media queries -->
	<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
	<!--[if lt IE 11]>
		<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
		<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
		<![endif]-->
	<!-- Meta -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="description" content="" />
	<meta name="keywords" content="">
	<meta name="author" content="Phoenixcoded" />
	<!-- Favicon icon -->
	<link rel="icon" href="~/Admin/assets/images/favicon.ico" type="image/x-icon">

	<!-- vendor css -->
	<link rel="stylesheet" href="~/Admin/assets/css/style.css">

	<style>
		.edit{
			background-color: #007bff;
			color: white;
			border: none;
			
		}
		.custom-shadow {
			box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
			border-radius: 15px;
		}

		.rounded-input {
			border-radius: 10px;
		
		}

		.rounded-button {
			border-radius: 15px;
		}

		.headings {
			color: #01155e;
			font-weight: 630;
			font-size: 32px;
		}

		.form-label {
			color: #A9A9A9;
		}

		.line{
			height: 2px; border: none;
			border-top: 2px solid gray;
		}
	</style>

</head>
<body class="">
	<!-- [ Pre-loader ] start -->
	<div class="loader-bg">
		<div class="loader-track">
			<div class="loader-fill"></div>
		</div>
	</div>
	<!-- [ Pre-loader ] End -->
	<!-- [ navigation menu ] start -->
	<nav class="pcoded-navbar  ">
		<div class="navbar-wrapper  ">
			<div class="navbar-content scroll-div ">

				<div class="">
					<div class="main-menu-header">
						<img class="img-radius" src="~/Admin/assets/images/admin.png" alt="User-Profile-Image">
						<div class="user-details">
							<span> @userName</span>
						</div>
					</div>
					<div class="collapse" id="nav-user-link">
						<ul class="list-unstyled">
							<li class="list-group-item"><a href="user-profile.html"><i class="feather icon-user m-r-5"></i>View Profile</a></li>
							<li class="list-group-item"><a href="#!"><i class="feather icon-settings m-r-5"></i>Settings</a></li>
							<li class="list-group-item"><a href="auth-normal-sign-in.html"><i class="feather icon-log-out m-r-5"></i>Logout</a></li>
						</ul>
					</div>
				</div>

				<ul class="nav pcoded-inner-navbar ">
					<li class="nav-item pcoded-menu-caption">
						<label>Navigation</label>
					</li>
					<li class="nav-item">
						<a asp-controller="Admin" asp-action="Index" class="nav-link "><span class="pcoded-micon"><i class="feather icon-home"></i></span><span class="pcoded-mtext">Dashboard</span></a>
					</li>
					<li class="nav-item pcoded-hasmenu">
						<a  class="nav-link "><span class="pcoded-micon"><i class="feather icon-layout"></i></span><span class="pcoded-mtext">Products</span></a>
						<ul class="pcoded-submenu">
							<li><a asp-controller="Products" asp-action="Create">Add Products </a></li>
							<li><a asp-controller="Products" asp-action="Index">Show Products </a></li>

				
						</ul>
					</li>
					<li class="nav-item pcoded-hasmenu">
						<a class="nav-link "><span class="pcoded-micon"><i class="feather icon-layout"></i></span><span class="pcoded-mtext">Service Plans</span></a>
						<ul class="pcoded-submenu">
							<li><a asp-controller="Service" asp-action="Create">Add Service Plans</a></li>
							<li><a asp-controller="Service" asp-action="Index">Show Service Plans</a></li>


						</ul>
					</li>
					<li class="nav-item pcoded-hasmenu">
						<a class="nav-link "><span class="pcoded-micon"><i class="feather icon-layout"></i></span><span class="pcoded-mtext">Customers</span></a>
						<ul class="pcoded-submenu">
							<li><a asp-controller="Customers" asp-action="Index">Show Customers </a></li>


						</ul>
					</li>
					<li class="nav-item pcoded-hasmenu">
						<a class="nav-link "><span class="pcoded-micon"><i class="feather icon-layout"></i></span><span class="pcoded-mtext">Discount Schemes</span></a>
						<ul class="pcoded-submenu">
							<li><a asp-controller="Discount" asp-action="Create">Add Discount Schemes </a></li>
							<li><a asp-controller="Discount" asp-action="Index">Show Discount Schemes </a></li>


						</ul>
					</li>
					<li class="nav-item pcoded-hasmenu">
						<a class="nav-link "><span class="pcoded-micon"><i class="feather icon-layout"></i></span><span class="pcoded-mtext">Orders</span></a>
						<ul class="pcoded-submenu">
							<li><a asp-controller="Orders" asp-action="Index">Show Orders </a></li>


						</ul>
					</li>
					<li class="nav-item pcoded-hasmenu">
						<a class="nav-link "><span class="pcoded-micon"><i class="feather icon-layout"></i></span><span class="pcoded-mtext">Retail Shops</span></a>
						<ul class="pcoded-submenu">
							<li><a asp-controller="RetailShops" asp-action="Create">Add Retail Shops</a></li>
							<li><a asp-controller="RetailShops" asp-action="Index">Show Retail Shops </a></li>


						</ul>
					</li>
					<li class="nav-item pcoded-hasmenu">
						<a class="nav-link "><span class="pcoded-micon"><i class="feather icon-layout"></i></span><span class="pcoded-mtext">Vendors</span></a>
						<ul class="pcoded-submenu">
							<li><a asp-controller="Vendors" asp-action="Create">Add Vendors</a></li>
							<li><a asp-controller="Vendors" asp-action="Index">Show Vendors</a></li>


						</ul>
					</li>
					<li class="nav-item pcoded-hasmenu">
						<a class="nav-link "><span class="pcoded-micon"><i class="feather icon-layout"></i></span><span class="pcoded-mtext">Connections</span></a>
						<ul class="pcoded-submenu">
							<li><a asp-controller="ConnectionOrder" asp-action="Create">Add Connection</a></li>
							<li><a asp-controller="ConnectionOrder" asp-action="Index">Show Connection</a></li>


						</ul>
					</li>
					<li class="nav-item pcoded-hasmenu">
						<a class="nav-link "><span class="pcoded-micon"><i class="feather icon-layout"></i></span><span class="pcoded-mtext">Billing</span></a>
						<ul class="pcoded-submenu">
							<li><a asp-controller="Billing" asp-action="Create">Add Bill</a></li>
							<li><a asp-controller="Billing" asp-action="Index">Show Bill</a></li>


						</ul>
					</li>
					<li class="nav-item pcoded-menu-caption">
						<label>Pages</label>
					</li>
					<li class="nav-item pcoded-hasmenu">
						<a href="#!" class="nav-link "><span class="pcoded-micon"><i class="feather icon-lock"></i></span><span class="pcoded-mtext">Authentication</span></a>
						<ul class="pcoded-submenu">
							<li><a asp-controller="Auth" asp-action="Signup" target="_blank">Sign up</a></li>
							<li><a asp-controller="Auth" asp-action="Login" target="_blank">Sign in</a></li>
						</ul>
					</li>
					
				</ul>

				
			</div>
		</div>
	</nav>
	<!-- [ navigation menu ] end -->
	<!-- [ Header ] start -->
	<header class="navbar pcoded-header navbar-expand-lg navbar-light header-dark">


		<div class="m-header">
			<a class="mobile-menu" id="mobile-collapse" href="#!"><span></span></a>
			<a href="#!" class="b-brand">
				<!-- ========   change your logo hear   ============ -->
				<img src="~/Admin/assets/images/logo.png" alt="" class="logo">
				<img src="~/Admin/assets/images/logo-icon.png" alt="" class="logo-thumb">
			</a>
			<a href="#!" class="mob-toggler">
				<i class="feather icon-more-vertical"></i>
			</a>
		</div>
		<div class="collapse navbar-collapse">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item">
					<a href="#!" class="pop-search"><i class="feather icon-search"></i></a>
					<div class="search-bar">
						<input type="text" class="form-control border-0 shadow-none" placeholder="Search hear">
						<button type="button" class="close" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
				</li>
				
				<li class="nav-item">
					<div class="dropdown mega-menu">
						<a class="dropdown-toggle h-drop" href="#" data-toggle="dropdown">
							Mega
						</a>
						<div class="dropdown-menu profile-notification ">
							<div class="row no-gutters">
								<div class="col">
									<h6 class="mega-title">UI Element</h6>
									<ul class="pro-body">
										<li><a href="#!" class="dropdown-item"><i class="fas fa-circle"></i> Alert</a></li>
										<li><a href="#!" class="dropdown-item"><i class="fas fa-circle"></i> Button</a></li>
										<li><a href="#!" class="dropdown-item"><i class="fas fa-circle"></i> Badges</a></li>
										<li><a href="#!" class="dropdown-item"><i class="fas fa-circle"></i> Cards</a></li>
										<li><a href="#!" class="dropdown-item"><i class="fas fa-circle"></i> Modal</a></li>
										<li><a href="#!" class="dropdown-item"><i class="fas fa-circle"></i> Tabs & pills</a></li>
									</ul>
								</div>
								<div class="col">
									<h6 class="mega-title">Forms</h6>
									<ul class="pro-body">
										<li><a href="#!" class="dropdown-item"><i class="feather icon-minus"></i> Elements</a></li>
										<li><a href="#!" class="dropdown-item"><i class="feather icon-minus"></i> Validation</a></li>
										<li><a href="#!" class="dropdown-item"><i class="feather icon-minus"></i> Masking</a></li>
										<li><a href="#!" class="dropdown-item"><i class="feather icon-minus"></i> Wizard</a></li>
										<li><a href="#!" class="dropdown-item"><i class="feather icon-minus"></i> Picker</a></li>
										<li><a href="#!" class="dropdown-item"><i class="feather icon-minus"></i> Select</a></li>
									</ul>
								</div>
								<div class="col">
									<h6 class="mega-title">Application</h6>
									<ul class="pro-body">
										<li><a href="#!" class="dropdown-item"><i class="feather icon-mail"></i> Email</a></li>
										<li><a href="#!" class="dropdown-item"><i class="feather icon-clipboard"></i> Task</a></li>
										<li><a href="#!" class="dropdown-item"><i class="feather icon-check-square"></i> To-Do</a></li>
										<li><a href="#!" class="dropdown-item"><i class="feather icon-image"></i> Gallery</a></li>
										<li><a href="#!" class="dropdown-item"><i class="feather icon-help-circle"></i> Helpdesk</a></li>
									</ul>
								</div>
								<div class="col">
									<h6 class="mega-title">Extension</h6>
									<ul class="pro-body">
										<li><a href="#!" class="dropdown-item"><i class="feather icon-file-plus"></i> Editor</a></li>
										<li><a href="#!" class="dropdown-item"><i class="feather icon-file-minus"></i> Invoice</a></li>
										<li><a href="#!" class="dropdown-item"><i class="feather icon-calendar"></i> Full calendar</a></li>
										<li><a href="#!" class="dropdown-item"><i class="feather icon-upload-cloud"></i> File upload</a></li>
										<li><a href="#!" class="dropdown-item"><i class="feather icon-scissors"></i> Image cropper</a></li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</li>
			</ul>
			<ul class="navbar-nav ml-auto">
				<li>
					<div class="dropdown">
						<a class="dropdown-toggle" href="#" data-toggle="dropdown">
							<i class="icon feather icon-bell"></i>
							<span class="badge badge-pill badge-danger">5</span>
						</a>
						<div class="dropdown-menu dropdown-menu-right notification">
							<div class="noti-head">
								<h6 class="d-inline-block m-b-0">Notifications</h6>
								<div class="float-right">
									<a href="#!" class="m-r-10">mark as read</a>
									<a href="#!">clear all</a>
								</div>
							</div>
							<ul class="noti-body">
								<li class="n-title">
									<p class="m-b-0">NEW</p>
								</li>
								<li class="notification">
									<div class="media">
										<img class="img-radius" src="~/Admin/assets/images/user/avatar-1.jpg" alt="Generic placeholder image">
										<div class="media-body">
											<p><strong>John Doe</strong><span class="n-time text-muted"><i class="icon feather icon-clock m-r-10"></i>5 min</span></p>
											<p>New ticket Added</p>
										</div>
									</div>
								</li>
								<li class="n-title">
									<p class="m-b-0">EARLIER</p>
								</li>
								<li class="notification">
									<div class="media">
										<img class="img-radius" src="~/Admin/assets/images/user/avatar-2.jpg" alt="Generic placeholder image">
										<div class="media-body">
											<p><strong>Joseph William</strong><span class="n-time text-muted"><i class="icon feather icon-clock m-r-10"></i>10 min</span></p>
											<p>Prchace New Theme and make payment</p>
										</div>
									</div>
								</li>
								<li class="notification">
									<div class="media">
										<img class="img-radius" src="~/Admin/assets/images/user/avatar-1.jpg" alt="Generic placeholder image">
										<div class="media-body">
											<p><strong>Sara Soudein</strong><span class="n-time text-muted"><i class="icon feather icon-clock m-r-10"></i>12 min</span></p>
											<p>currently login</p>
										</div>
									</div>
								</li>
								<li class="notification">
									<div class="media">
										<img class="img-radius" src="~/Admin/assets/images/user/avatar-2.jpg" alt="Generic placeholder image">
										<div class="media-body">
											<p><strong>Joseph William</strong><span class="n-time text-muted"><i class="icon feather icon-clock m-r-10"></i>30 min</span></p>
											<p>Prchace New Theme and make payment</p>
										</div>
									</div>
								</li>
							</ul>
							<div class="noti-footer">
								<a href="#!">show all</a>
							</div>
						</div>
					</div>
				</li>
				<li>
					<div class="dropdown drp-user">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown">
							<i class="feather icon-user"></i>
						</a>
						<div class="dropdown-menu dropdown-menu-right profile-notification">
							<div class="pro-head">
								<img src="~/Admin/assets/images/admin.png" class="img-radius" alt="User-Profile-Image">
								<span>@userName</span>
								<a asp-controller="Auth" asp-action="Logout" class="dud-logout" title="Logout">
									<i class="feather icon-log-out"></i>
								</a>
							</div>
							
						</div>
					</div>
				</li>
			</ul>
		</div>


	</header>

	<div class="pcoded-main-container">
		<div class="pcoded-content">

		@RenderBody()
	
	
		</div>
	</div>
	<script src="~/Admin/assets/js/vendor-all.min.js"></script>
	<script src="~/Admin/assets/js/plugins/bootstrap.min.js"></script>
	<script src="~/Admin/assets/js/pcoded.min.js"></script>

	<!-- Apex Chart -->
	<script src="~/Admin/assets/js/plugins/apexcharts.min.js"></script>


	<!-- custom-chart js -->
	<script src="~/Admin/assets/js/pages/dashboard-main.js"></script>
</body>

</html>
