@model Eproject_NCS.Models.Product

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<div class="container-fluid">
    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 headings">Edit Product</h1>
    </div>

    <div class="bg-light p-4 custom-shadow">
        <!-- Rounded corners -->
        <form asp-action="Edit" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ProductId" />

            <div class="form-group">
                <label asp-for="ProductName" class="form-label control-label"></label>
                <input asp-for="ProductName" class="form-control rounded-input" />
                <span asp-validation-for="ProductName" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="ProductType" class="form-label control-label"></label>
                <input asp-for="ProductType" class="form-control rounded-input" />
                <span asp-validation-for="ProductType" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Stock" class="form-label control-label"></label>
                <input asp-for="Stock" class="form-control rounded-input" />
                <span asp-validation-for="Stock" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Price" class="form-label control-label"></label>
                <input asp-for="Price" class="form-control rounded-input" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Image" class="form-label control-label"></label>
                <input asp-for="Image" type="file" name="file" class="form-control rounded-input" />
                <span asp-validation-for="Image" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary rounded-button" />
            </div>
            <div>
                <a asp-action="Index">Back to List</a>
            </div>
        </form>
    </div>

  
</div>
